.header {
    width: 100%;
    background-color: rgba(173, 198, 255, 0.78);
    border: 2px solid #3e44a0;
    border-style: double;
    box-shadow: 0 0 20px 7px rgba(64, 45, 192, 0.3);
    position: fixed;
}
#fil {
    background-color: #92ADFF;
}
#lan {
    background-color: #92ADFF;
}
.headButtons {
    background-color: rgba(255,193,192,0.78);
}
.headButtons:hover {
    background-color: #cb78ff;
    cursor: pointer;
}