* {
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

@font-face {
    font-family: 'MyFont1';
    src: url('/fonts/CeremoniousThree.ttf') format('truetype');
}

@font-face {
    font-family: 'MyFont2';
    src: url('/fonts/Scriptorama.ttf') format('truetype');
}

@font-face {
    font-family: 'MyFont3';
    src: url('/fonts/BickhamScriptThree.ttf') format('truetype');
}

@font-face {
    font-family: 'MyFont4';
    src: url('/fonts/HeatherScriptOne.ttf') format('truetype');
}

@font-face {
    font-family: 'MyFont5';
    src: url('/fonts/CeremoniousTwo.ttf') format('truetype');
}

@font-face {
    font-family: 'MyFont6';
    src: url('/fonts/Morpheus.ttf') format('truetype');
}

h1{
    color: #9f8344;
    font-family: MyFont6;
    font-size: 400%;
    font-weight: normal;
    text-shadow: #999999 5px 5px 10px;
    margin: 0px;
}

h2 {
    font-family: MyFont4;
    font-size: 200%;
    text-shadow: #8d8989 5px 5px 10px;
    margin: 0px;
}
td
{
    border: 0 solid #2e0000;
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
    padding: 0;
}
body
{
    background: url(/imgs/var2.png) repeat-x;
    background-size: 400px;
    background-position: bottom;
    background-color: #fcf7d3;
    padding: 0;
    width: 100%;
    border: 0;
}

#footer{
    text-align: right;
    vertical-align: bottom;
    color: #d8d8d8;
    font-style: italic;
}

#yazik{
    top: 0;
    right: 0;
}

.langKn
{
    cursor: pointer;
    background: url(/imgs/ChLang.png) no-repeat;
    background-size: 130px 40px;
    border: 0px;
    width: 130px;
    height: 40px;
    vertical-align: bottom;
    text-align: center;
    color: #d4b98b;
    font-style: italic;
    font-weight: bold;
    font-size: 70%;
}

.yazi
{
    background-color: #fcf7d3;
}

.prod
{
    background: url(/imgs/fonForList.png) no-repeat;
    background-size: 800px 190px;
}

#prodSt
{
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 56px;
    padding-bottom: 10px;
    height: 170px;
    width: 170px;
}

#text
{
    height:150px;
    overflow-x:hidden;
    margin-top: 20px;
    margin-left: 5px;
}


#osnTabl
{
    width: 800px;
    height: 662px;
    margin: auto;
    padding-top: 50px;
}

#headTabl
{
    width: 100%;
    height: 60px;
    margin: auto;
    background: url(/imgs/chastokol.png) repeat-x;
    background-size: 150px;
    background-position: bottom;
    padding: 0;
    border: 0;
    position: fixed;
}

#buy
{
    cursor: pointer;
    background: url(/imgs/zakaz.png) no-repeat;
    background-size: 300px 50px;
    border: 0px;
    width: 300px;
    height: 50px;
    vertical-align: bottom;
    color: #c6a978;
    font-weight: bold;
    font-family: MyFont1;
    font-size: 230%;
}

#logo
{
    padding-top: 20px;
    padding-bottom: 30px;
}

#content
{
    background: url(/imgs/perg.png) no-repeat;
    background-size: 100%;
}

#loginstyle
{
    margin: auto;
    background: url(/imgs/perg2.png) no-repeat;
    background-size: 400px;
    background-position: center;

}